@{
    ViewBag.Title = "Contact";
}

@section metatags{
    <meta name="keywords" content="Contact of movies service, Movie Service contact, MyContack,
          how to find movie service contact" />
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    AntonioCorporation<br />
    Kharkiv, Ukraine<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">a.sierikov@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">a.sierikov@gmail.com</a>
</address>